@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome v1</h1>

    <h5>Claims</h5>
    @{
        var claims = ViewData["Claims"] as IEnumerable<Claim>;
        if (claims is not null && claims.Any())
        {
            <table class="table table-bordered table-striped">
                <tr>
                    <th>
                        Claim Type
                    </th>
                    <th>
                        Claim Value
                    </th>
                </tr>


                @foreach (System.Security.Claims.Claim claim in claims)
                {
                    <tr>
                        <td>
                            @claim.Type
                        </td>
                        <td>
                            @claim.Value
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No claims</p>
        }
    }

</div>
